.App {
  text-align: center;
}

.container{
  width: 80%;
  margin: 5vh auto;
}

.btn{
  padding: 1rem;
  background-color: #053F5C;
  color: #fff;
  text-decoration: none;
  border-radius: 0.2rem;
  margin: 1rem;
  border: none;
}
/* .btn:hover{
  background-color: #429EBD;
  color: #053F5C;
} */
.active{
  background-color: #F7AD19;
  color: #F27F0C;
}
.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
article{
  padding: 2rem;
  background-color: bisque;
}
.title{
  border-bottom: 5px solid burlywood;
  display: inline-block;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
label{
  display: block;
  padding-bottom: 0.5rem;
}
input{
  padding: 0.5rem;
}
.form-input{
  margin-bottom: 1rem;

}
form{
  background-color: aliceblue;
  padding: 2rem;
}
form button{
  width: 150px;
}